html,
body {
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
}

@import url(http://fonts.googleapis.com/css?family=Arimo&subset=latin,cyrillic);

.container{
    width:100%;
}



.navbar-inverse {
    background-color: rgb(68, 81, 88);
     border: none; 
}

.reg_but{
    padding: 5px 10px;
    line-height: 15px;
    margin-bottom: unset;
    border: 1px solid;
    border-radius: 40px;
    line-height: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    margin-top: 10px;
}

.mobile_list{
    display: none;
}

.desc_search{
    text-align: center;
    color: #757474;
}
.form-control:focus {
    border-color: #949494;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 41px 15px 20px;
}

.gmap0-map-canvas{
    margin: 0 auto;
    width: 95%;
    height: 512px;
    position: relative;
    overflow: hidden;
}

#zk{ 
    width: 70%; 
    margin: 0 auto;
}

.footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.red{
    color: red;
}

.breadcrumb{
    padding: 20px 15px;
    margin-top: 20px;
}

.view-title{
    font-size: 15px;
    padding: 5px 26px;
    color: #000000;
    margin-right: 10px;
    border-radius: 20px;
    border: 1px solid #40dcff;
    line-height: 40px;
    font-weight: 600;
}

.right-box{
   width:270px; 
   display: inline-block; 
   padding: 10px;
}




.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
    vertical-align: middle;
}

.main-text{
    margin-top: 100px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    vertical-align: middle;
}

.cn{
    background: url("../images/rus.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.about{
    font-size: 16px;
    color: rgb(128, 127, 127);
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.cost{
    font-weight: bold;
        
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.your_rooms{
    font-weight: bold;
    font-size: 18px;
    color: rgb(41, 154, 130);
}
.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
/*.nav > li > form {
    padding: 8px;
}*/

.title-update{
    padding: 10px;
    background-color: gainsboro;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: rgb(148, 195, 196);
    border-color: rgb(148, 195, 196);
}

.pagination > li > a, .pagination > li > span{
    color: rgb(99, 103, 107);
}



@media(max-width:430px) {
    .buy_but{
        width: 90%;
        padding: 10px;
    }
    

}




.nav > li > form > button:hover {
    text-decoration: none;
}

@media (min-width: 1200px){
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
       margin-right: 20px;
       margin-left: 20px; 
    }
}

@media (min-width: 1000px) {
    .apartament_user{
       
    }
}



.navbar-brand{
    padding: 10px 15px;
}

.our{
   color: rgb(128, 127, 127);
}

.our>h3{
    font-size: 19px;
}

.sl>h3{
    font-size: 19px;
}

.main_but{
    background-color:  rgba(241, 186, 31, 0.85);
    border-color: #f2f2f2;
    color: white;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 15px;
    width: 170px;
    letter-spacing: 0.6px;
}

.main_but a{

    text-decoration: none;
}

.main_but:hover{
    text-decoration: none;
    color: white;
    background-color: rgba(239, 217, 155, 0.93);
}

li>a>.caret{
    display: none;
}

li>a>i{
  font-size: 16px;    
}

.gm{
    margin-top: 3px;
    font-size: 16px;
}


.brand.navbar-brand{
    width: 132px;
}


.main-complex{
    margin-top: 80px;
    font-size: 36px;
    color: rgb(109, 109, 109);
}

.main-complex.view{
    margin-top: 20px;
}

.complex-page{
    background: url(../images/zhk.jpg);
    background-size: cover;
    height: 800px;
    margin-top: 20px;  
}

.navbar-nav > li > a{
    padding-bottom: 0;
}



.in_but{
    background-color: rgb(10, 150, 140);
    border-color: #f2f2f2;
    color: white;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 20px;
    width: 200px;
    letter-spacing: 0.6px;
}

.obe{
    width: unset;
    padding: 6px 22px;
}

.in_but a{

    text-decoration: none;
}

.in_but:hover{
    text-decoration: none;
    color: white;
    background-color: rgba(10, 150, 140, 0.54);
}
.filter{
    display: none;
}

.step{
    background-color: #d3d3d3;
    width: 30%;
    border-radius: 0px 0px 15px 0px;
}

.title-step{
    padding: 5px;
}



#place{
    background: rgba(206, 206, 206, 0.25098039215686274);
    margin: unset;
    width: unset;
    cursor: pointer;
    border-radius: 30px;
    padding: 6px 12px;
    color: black; 
    font-size: 18px;
    text-align: center;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn
{
    border-radius: 30px;
    margin-bottom: 10px;
}
.input-group-btn:last-child > .btn, 
input-group-btn:last-child > .btn-group{
    border-radius: 30px;
}

.photo-view{
    margin-right: 5px;
    padding: 1.5px;
    border: 1.5px solid rgb(205, 205, 210);
}

a{
    color: rgb(48, 61, 72);
}

.info-view{
    width: 100%;
}

.info-wind{

}

.gm-style img {
    width: 75px;
    border: 1px solid rgb(186, 187, 187);
    padding: 2px;
    max-width: none;
    margin-right: 5px;
    margin-bottom: 5px;
}

.view-date{
   font-size: 14px;
   color: grey;
   font-weight: normal;
}

:-ms-input-placeholder { /* IE 10+ */
    color: grey;
}

.font-menu{
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;

}

h1, h2, h3,h4{
    font-family: 'Noto Sans', sans-serif;
}

.search-form input{
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.33);
    border-radius: 0;
    font-weight: 200;
}

.bottom-search{
 margin-top: -12px;
}

a:hover{
    text-decoration: none
}

.left-view{ 
    text-align: center; 
    font-size: 16px;
    clear: both;
}

.open-filter, .open-filter.clear{
    background: rgba(206, 206, 206, 0.25098039215686274);
    margin: 0 auto;
    width: 300px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    padding: 10px 40px;
    color: rgb(24, 131, 208);
    font-size: 16px;
}



footer li {
    list-style-type: none;
    padding: 10px 0;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
}

.steps{
    background-image: url(../images/k.jpg);
    padding-bottom: 50px;
}

.ad{
    background: rgba(128, 116, 116, 0.09019607843137255);
    margin-bottom: 20px;
    border-top: 2px solid #e6e6e6;
    margin-top: 10px;
}

.icon-button{
    width: 35px;
    height: 35px;
    margin-right: 5px;
    margin-top: 3px;
    float: left;
}

.icon-button.vk{
    background-image: url(../images/vk.png);
}

.icon-button.inst{
    background-image: url(../images/inst.png);
}

.howto-label {
    width: 60px;
    float: left;
    margin: 10px 20px;
    background-color: rgba(243, 223, 39, 0.65);
    color: #fff;
}

.howto-label div {
    margin: auto;
    width: fit-content;
    width: -moz-fit-content;
    font-size: 40px;
}

.main-title{
    color: rgba(60, 60, 60, 0.8313725490196079);
    margin-bottom: 15px;
}

.service{
    background: url(../images/service2.jpg);
    background-size: cover;
    height: 500px;
    margin-top: 20px;
}

.complex{
    background: url(../images/zhk.jpg);
    background-size: cover;
    height: 400px;
    margin-top: 20px;
}

.complex_v{
    background: url(../images/ek.jpg);
    margin-top: -1px;
    margin-bottom: 30px;
    height: 450px;
    background-size: cover;
}

.link-c{
    height: 28px;
    display: inline-block;
    padding: 4px 35px;
    border-radius: 14px;
    background: hsla(44, 73%, 49%, 0.62);
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border: 0;
}

.for-link a{
    color: white;
    font-weight: normal;
}

.for-link a:hover{
    color: white;
    text-decoration: none;
}


.desc_title{
    margin-bottom: 20px;
}

.desc_title h1{
    color: white;
    font-weight: bold;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.67);
}

.apartament-search{
    width: 85%;
    margin: 0 auto;
}

.cart{
    background: url(../images/c1.jpg);
    background-size: cover;
}

.btn-toolbar.kv-grid-toolbar.toolbar-container.pull-right{
    width: unset;
}
.btn-group, .btn-group > .btn:first-child{
    width: unset;
}

.btn-group>#w3{
    margin-top: unset;
}

.btn-group, .btn-group > .btn:first-child{
    width: unset;
}

.panel-heading{
    float: left;
}

.title-service{
    color: white;
    font-size: 36px;
}

.flex{
    display: inline-flex;
}

.img-ico {
    margin-left: 37%;

    height: 100px;
}

.img-ico.one {
    background: url(../images/search_icon.png) no-repeat;
}

.img-ico.two {
    background: url(../images/add.png) no-repeat;
}

.img-ico.three {
    background: url(../images/rel.png) no-repeat;
}

.m2{
    margin-top: 12px;
    font-size: 17px;
    color: #625e5e;
    font-weight: bold;
}

.btn.btn-default.dropdown-toggle{
    width: 100%;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
    background-color: unset;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
    color: rgb(103, 103, 103);
}

.update-info{
    padding: 10px;
    border-bottom: 1px solid rgb(234, 234, 234);
}


.navbar-inverse .btn-link:hover, .navbar-inverse .btn-link:focus{
  border: 1px solid rgb(190, 186, 186);
}

.attach-title{
    margin-left: 15px;
    font-weight: bold;
    margin-bottom:20px;
}

.multiselect-selected-text{
    float: left;
    color: #555;
}

.caret{
   float: right;
   margin-top: 10px;
}

.price_format{
    padding: 14px 5px;
    background: rgb(241, 241, 241);
    border-radius: 50px;
    text-align: center;
    color: rgb(47, 119, 114);
    font-size: 15px;
}

.price_view{
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    border-radius: 50px;
    /* background: rgb(51, 51, 51); */
    font-size: 28px;
    font-weight: 700;
}

.t_ph{
    background: #0a968c70;
    content: "\e182";
    border-radius: 20px;
    padding: 2px;
    color: white;
}

.area{
    padding: 14px 12px;
    background: rgba(255, 240, 59, 0.2);
    border-radius: 50px;
    text-align: center;
    color: #3f3d3d;
    font-size: 16px;
}

.area.view-area{
    padding: 10px 12px;
    border-radius: 50px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: normal;
    background: rgba(15, 150, 149, 0.73);
}

.navbar-inverse .navbar-toggle{
    border-color: #3330;
}

.show-filter{
    margin-top: 15px;
    width: 180px;
}

.row.kom{
    margin-right: unset;
    margin-bottom: 30px; 
    line-height: 60px; 
    background: #f3f3fb;
    font-weight: bold;
}

.sales{
    font-size: 15px;
}

.appartament_view {
    position: relative;
    display: -ms-flexbox;
    display: flex;
}

.back{
    width:100%; 
    height: -webkit-fill-available;  
    background-color: rgba(24,41,48,.4);
}


/*  Список объявлений   */
.left_item{
    width: 20%;
}

.center-item{
    width: 60%;
    padding: 6px 20px 0;
    min-width: 0;
    -ms-flex: 2;
    flex: 2;
    box-sizing: border-box;
}

.table > thead > tr > th {
    background: rgba(232, 232, 232, 0.5215686274509804);
}

.btn-default{
    border-radius: 20px;
}



.city{
    font-size: 15px;
    border-bottom: 1px dashed;
}

.city:focus{
    outline: none;
    border-bottom: 1px dashed;
}

.in_but:focus, .main_but:focus{
    outline: none;
}

.city:hover{
    border-bottom: 1px dashed;
}

#map-canvas{
    clear: both;
}

.multiselect.dropdown-toggle.btn.btn-default{
    border-radius: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    line-height: 22px;
    color: #121212!important;
    /* background: none; */
    /* width: 100%; */
    height: 40px;
    border: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    outline: none;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.33);
}

.contact-modal{
    margin-top: 20px;
    padding: 6px 60px;
    background: rgb(49, 181, 171);
    font-size: 18px;
    border-radius: 25px;
    color: white;
}

.contact-modal:hover{
    color: white;
}

.left-info{ 
    padding: 30px;
    background: #ededf9;
    float: right;
    border-radius: 20px;
    font-size: 16px;
    border-bottom: 1px solid rgb(225, 225, 225);
}

.contact-modal:focus{
    outline: none;
    color: white;
}

.complex-but{
    margin-top: 70px;
    padding: 6px 140px;
    background: rgb(49, 181, 171);
    font-size: 22px;
    border: none;
    border-radius: 25px;
    color: #ffffff;
}





.steps-md{
    font-size: 15px;
}

.steps-md p{
    color: rgb(89, 89, 89);
}

.main-table{
    font-size: 14px;
}

.tel{
    font-weight: bold;
}

.open_but{
   /* background: rgba(31, 173, 241, 0.69); */
    border: 2px solid #139c9b;
    padding: 5px 13px;
    border-radius: 20px;
    color: #4c4c4c;
    font-weight: bold;

}
.open_but:hover{
    text-decoration: none;
    background: rgb(228, 228, 228);
    color: #4c4c4c;
}

.open_but:focus{
    text-decoration: none;
}


.table_first{
/*    color: rgb(116, 118, 118);*/
    font-weight: bold;
}

.table_area{
    font-weight: bold;
}

.table_price{
    font-weight: bold;
}



.table-hover > tbody > tr:hover {
    background-color: rgba(245, 245, 245, 0.38823529411764707);
}

.description_view{
    border-radius: 20px;
    background: white;
}

.left-box{
    float: left;
}

.kitch{
    background: #dcdcdc6e;
    border-radius: 20px;
    padding: 10px;
}

#w3{
   
}


.menu {
  cursor: pointer;
  margin: 0 auto;
  padding-left: 1.25em;
  position: relative;
  width: 35px;
  height: 30px;
}
.menu-global {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top:1px solid rgb(218, 214, 214);
  width: 65%;
    height: 30px;
  transition: 0.25s;
}
.menu-top {
  top: 5px;
}
.menu-middle {
  top: 12px;
}
.menu-bottom {
  top: 19px;
}
.menu-top-click {
  backface-visibility: hidden;
  top: 12px;
  transform: rotate(50deg);
  transition: 0.25s 0.5s;
  width:15px;
}
.menu-middle-click {
  opacity: 0;
}
.menu-bottom-click {
  backface-visibility: hidden;
  top: 12px;
  transform: rotate(-410deg);
  transition: 0.25s 0.5s;
  width: 15px;
}

 span.multiselect-native-select > .btn-group{
        width: 100%;
    }

.btn:focus, .btn:active:focus, .btn.active:focus, 
.btn.focus, .btn:active.focus, .btn.active.focus{
   outline: none;
}

.upl{
    float: left;
    width: 100%;
    background: #078868;
    border: none;
}

.upl:hover{      
    background: #078868c2;
    border: none;
}

.fileinput-remove-button{
   width: 100%; 
}

.file-caption-main {
    display: inline-grid;
}

.input-group-append{
   margin: 0 auto;
   width: 50%;
   float: left;
}

.tip-acc{
    font-size: 16px;
    margin-bottom: 20px;
    float: left;
}



a.buy_but{
    text-decoration: none;
    line-height: 20px;
    letter-spacing: 1px;
    margin-top: 10px;
}
.buy_but{
    width: 400px;
    background-color: rgb(19, 156, 155);
    text-decoration: none;
    color: white;
    border-color: #bccfbe;
    display: inline-block;
    padding: 8px 76px;
    margin-bottom: 16px;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid ;
    border-radius: 25px;
    transition: background 1s, color 1.7s;
}

.buy_but:hover{
    background-color: rgb(80, 146, 141);  color: white;
}

.buy_but.inhead{
    width: 220px;
    padding: 5px 2px;
    border: none;
    margin-bottom: unset;
}

.but_outer{
   /* margin-top: 10px;*/
}

.for-mobile{
    display: none;
}

.navbar-inverse .navbar-nav > li > a{
    font-weight: 500;
    font-size: 12px;
    color: rgb(190, 186, 186);
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: rgb(68, 81, 88);
}


.navbar-inverse .navbar-nav > li > a.buy_but{
    color: white;
}

.navbar-inverse .navbar-nav > li > a >i:hover, .navbar-inverse .navbar-nav > li > a> i:focus{
    color: white;
}

.navbar-inverse .navbar-nav > li > .reg_but:hover, .navbar-inverse .navbar-nav > li > .reg_but:focus{
        border: 1px solid;
}

.navbar-inverse .navbar-nav > li > .city{
/*    color: white;*/
    font-weight:500;
    font-size:13px;
/*    text-decoration-color: orange;*/
}

.navbar-inverse .navbar-nav > li > .city:hover, .navbar-inverse .navbar-nav > li > .city:focus{
    border-color: rgb(68, 81, 88);
    border-bottom: 1px dashed;
}

.navbar-inverse .btn-link{
    color: rgb(190, 186, 186);
}



.form-container .col-lg-2, .form-container .col-md-2, .form-container .col-sm-4{
    padding-left: 0;
}
    
.gr-table{
    width: 98%;
}


#modalContact .form-control{
    border: 1px solid #d4cfcf;
    box-shadow: none;
}

@media (max-width: 370px){
    .buy_but{
      padding: 8px 46px;
    }
}

@media (max-width: 480px){
    .kv-table-wrap thead{
        display: none;
    }
    .for-mobile{
       display: block;
    }
    
    .mobile_list{
        display: block;
    }
    
    .gr-table{
        display: none;
    }
    
}

@media (max-width: 500px){
    .img-ico.three {
        margin-left: 32%;
    }
}

@media (max-width: 600px){
   #place, #save{
      margin-left: 0;
   }
   
   .our{
       clear: both;
   }
   
   .main-complex{
       font-size: 26px;
   }
   
   .modal-footer{
       text-align: center;
   }
   
   .close-modal{
       width: 200px;
       margin-bottom: 10px;
   }
}

@media (max-width: 768px) {
    
    .navbar-inverse .navbar-nav > li > a, .reg_but{
        border:none;
    }
    
    .gamb.nav{
        display: none;
    }
    
    .back{
        height: unset;
    }
    
    .buy_but{
        width: unset;
    }
    
    .row.kom{
        line-height: 40px;
    }
    
    .view_main{
        width: 100%;
    }
    
    .right-box{
        width: unset;
    }
    
    .left-info{
        padding: 0px;
    }
    
    .desc_title h1{
        font-size: 22px;
    }
    
    .main-text{
       margin-top: 0px;
    }
    
    .complex_v{
        height: auto;
    }
    
    .nav > li{
        text-align: center;
    }
    
    .input-group-append{
        width: 100%;
    }
    
    .hidden-xs {
        display: block;
    }
    
    .container {
        width: 100%;
    }
    
    .left-box{
       float: none;
    }
    
    .nav li > form {
	padding: 3px;
    }
        
    .complex-but{
        padding: 6px 40px;
    }
    
    .contact-modal{
       padding: 8px 30px;
    }
    
    .open_but{
       padding: 6px 70px; 
    }

    .city{
        border-bottom: none;
    }
    .navbar-inverse .navbar-nav > li > .city{
        font-size: 13px;
    }

    .dropdown .dropdown-toggle{
        float: left;
    }

   
    

    .btn.btn-default.dropdown-toggle{
        width: 100%;
    }
    
    #zk{ 
        margin-bottom: 30px;
        width: 90%;
    }
    
    .buy_but.inhead{
        width: 60%;
    }


}




@media (max-width: 400px)  {
    
    .contact-modal{
        width: 100%;
        /* height: 40px; */
        padding: unset;
        padding: 5px;
    }
    
    .main-title{
        font-size: 26px;
    }

    .complex{
        height: 300px;
    }
    
    .main-complex{
        margin-top: 40px;
    }
    
    .contact-button{
        display: none;
    }


}

@media (max-width: 992px){
    .info-view{
        display: inline-block;
    }
    .grid-photo{
        display: grid;
    }

    .service{
        height: auto;
    }
    
    .left-info{
        float: none;
        text-align: center;
    }
}

@media (max-width: 1200px){
    .apartament-search{
        width: 95%;
    }
    
    .opt i{
        display: none;
    }
}

@media (max-width: 1500px){
    .steps-md p{
        clear: both;
    }
}


@media (min-width: 991px) {
    
    .apartament_user{
        margin-left: 20%;
    }
    
/*    .price{
        width: 270px;
    }*/

    .sq{
        width: 205px;
    }
    
    .form-group.field-apartamentsearch-area_to{
        width: 110px;
    }

    
    .fl{
        width: 170px;
    }



}

@media (min-width: 768px){
.navbar-nav > li {
    float: left;
    margin-right: 5px;
}

.form-container .col-lg-2{
        width: 11.66666667%;
}
}

@media (min-width: 800px) and (max-width: 1200px) {
    .i-am-centered{
        margin-left: 27%;
        width: 50%;
    }

}


@media (min-width: 1200px) {
    .steps-md{
        margin-left: 15%;
    }
    
    .form-container .col-lg-2{
        width: 11.66666667%;
    }
}

@media (min-width: 1200px) {
    .i-am-centered{
        margin-left: 35%;
    }
    
@media (min-width: 1400px){
    .btn.btn-default.dropdown-toggle{
        width: 100%;
    }
}   
  
@media (min-width: 1550px){
    .btn.btn-default.dropdown-toggle{
        width: 100%;
    }
    
    .gr-table{
        width: 90%;
    }
    
    .apartament-search{
        width: 70%;
    }
    
    
    .view_main{
       width: 70%;
       margin: 0 auto;
    }
}  

@media (min-width: 1700px){
   
}  


}