html,
body {
    height: 100%;
}


.container{
    width:95%;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}

.form-control:focus {
    border-color: #949494;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.view-title{
    font-size: 24px;
}

.term{
    color: gray;
    font-size: 16px;
}

a.buy_but{
    letter-spacing: 1px;
    text-decoration: none;
    font-family: "Century Gothic";
}
.buy_but{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.69);
    text-decoration: none;
    color: white;
    border-color: #bccfbe;
    display: inline-block;
    padding: 12px 76px;
    margin-bottom: 16px;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid ;
    border-radius: 25px;
    transition: background 1s, color 1.7s;
}

.buy_but:hover{
    background-color: rgba(93, 85, 85, 0.64);  color: white;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.cost{
    font-weight: bold;
        
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

.title-update{
    padding: 10px;
    background-color: gainsboro;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: rgb(148, 195, 196);
    border-color: rgb(148, 195, 196);
}

.pagination > li > a, .pagination > li > span{
    color: rgb(99, 103, 107);
}



@media(max-width:430px) {
    .buy_but{
        width: 90%;
        padding: 10px;
    }
}


@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}

@media (min-width: 1000px) {
    .apartament_user{
       
    }
}

.navbar-inverse .navbar-nav > li > a{
    font-weight: 500;
}

.navbar-brand{
    padding: 10px 15px;
}

.main_but{
    font-family: "Century Gothic";
    background-color:  rgba(0, 0, 0, 0.69);
    border-color: #f2f2f2;
    color: white;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 15px;
    width: 170px;
    letter-spacing: 0.6px;
}

.main_but a{

    text-decoration: none;
}

.main_but:hover{
    text-decoration: none;
    color: white;
    background-color: #747171;
}


.in_but{
    font-family: "Century Gothic";
    background-color:  rgba(0, 0, 0, 0.69);
    border-color: #f2f2f2;
    color: white;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 20px;
    width: 200px;
    letter-spacing: 0.6px;
}

.in_but a{

    text-decoration: none;
}

.in_but:hover{
    text-decoration: none;
    color: white;
    background-color: #747171;
}
.filter{
    display: none;
}

.step{
    background-color: #d3d3d3;
    width: 30%;
    border-radius: 0px 0px 15px 0px;
}

.title-step{
    padding: 5px;
}

.navbar-inverse .navbar-nav > li > a >i:hover, .navbar-inverse .navbar-nav > li > a> i:focus{
    color: white;
}

#place{
    
}

.photo-view{
    margin-right: 5px;
    padding: 1.5px;
    border: 1.5px solid rgb(205, 205, 210);
}

a{
    color: rgb(48, 61, 72);
}

.info-view{
    width: 100%;
}

.info-wind{
    max-width:350px; 
    border-bottom: 1px solid rgb(222, 222, 222);
    border-top: 1px solid rgb(222, 222, 222);
    padding-bottom: 10px;
    padding-top: 10px;
}

.gm-style img {
    width: 75px;
    border: 1px solid rgb(186, 187, 187);
    padding: 2px;
    max-width: none;
    margin-right: 5px;
    margin-bottom: 5px;
}

.view-date{
   font-size: 14px;
   color: grey;
}

:-ms-input-placeholder { /* IE 10+ */
    color: grey;
}

.font-menu{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

h1, h2, h3,h4{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.search-form input{
   
    border-radius: 3px;
    box-shadow: none;
    font-weight: 200;
}

.bottom-search{
 margin-top: -12px;
}




footer li {
    list-style-type: none;
    padding: 10px 0;
    text-align: left;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.steps{
    background-image: url(../images/k.jpg);
    padding-bottom: 50px;
}

.ad{
    background: rgba(128, 116, 116, 0.09019607843137255);
    margin-bottom: 20px;
    border-top: 2px solid #e6e6e6;
}

.icon-button{
    width: 35px;
    height: 35px;
    margin-right: 5px;
    margin-top: 3px;
    float: left;
}

.icon-button.vk{
    background-image: url(../images/vk.png);
}

.icon-button.inst{
    background-image: url(../images/inst.png);
}

.howto-label {
    width: 60px;
    float: left;
    margin: 10px 20px;
    background-color: rgba(39, 135, 136, 0.49019607843137253);
    color: #fff;
}

.howto-label div {
    margin: auto;
    width: fit-content;
    width: -moz-fit-content;
    font-size: 40px;
}

.main-title{
    color: rgba(60, 60, 60, 0.8313725490196079);
    margin-bottom: 15px;
}

.service{
    background: url(../images/service2.jpg);
    background-size: cover;
    height: 500px;
    margin-top: 20px;
}

.title-service{
    color: white;
}

.flex{
    display: inline-flex;
}

.img-ico {
    margin-left: 37%;

    height: 100px;
}

.img-ico.one {
    background: url(../images/search_icon.png) no-repeat;
}

.img-ico.two {
    background: url(../images/add.png) no-repeat;
}

.img-ico.three {
    background: url(../images/rel.png) no-repeat;
}

.m2{
    margin-top: 12px;
    font-size: 17px;
    color: #625e5e;
    font-weight: bold;
}

.btn-group, .btn-group > .btn:first-child{
    width: 100%;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
    background-color: unset;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
    color: rgb(103, 103, 103);
}

.update-info{
    padding: 10px;
    border-bottom: 1px solid rgb(234, 234, 234);
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .btn-link:hover, .navbar-inverse .btn-link:focus{

//    border-bottom: 2px solid;
}

.attach-title{
    margin-left: 15px;
    font-weight: bold;
    margin-bottom:20px;
}

.multiselect-selected-text{
    float: left;
    color: #555;
}

.caret{
   float: right;
   margin-top: 10px;
}

.show-filter{
    margin-top: 15px;
    width: 180px;
}

.sales{
    font-size: 15px;
}

.appartament_view {
    position: relative;
    display: -ms-flexbox;
    display: flex;
}

/*  Список объявлений   */
.left_item{
    width: 20%;
}

.center-item{
    width: 60%;
    padding: 6px 20px 0;
    min-width: 0;
    -ms-flex: 2;
    flex: 2;
    box-sizing: border-box;
}

.table > thead > tr > th {
    background: rgba(232, 232, 232, 0.5215686274509804);
}

.btn-default{
    border-radius: 20px;
}

.city{
    font-size: 15px;
}

.city:focus{
    outline: none;
}

#map-canvas{
    clear: both;
}

.multiselect.dropdown-toggle.btn.btn-default{
    border-radius: 4px;
}

.contact-modal{
    margin-top: 20px;
    padding: 6px 60px;
    /* background: #72a963cc; */
    font-size: 18px;
    border: 2px solid;
    border-radius: 25px;
    color: rgba(12, 151, 118, 0.57);
}

.contact-modal:hover{
    color: rgba(12, 151, 118, 0.57);
}

.contact-modal:focus{
    outline: none;
    color: #7ec167c2;
}

#w3{
    margin-top: 5px;
}

@media (max-width: 600px){
   #place, #save{
      margin-left: 0;
   }
   
   .modal-footer{
       text-align: center;
   }
   
   .close-modal{
       width: 200px;
       margin-bottom: 10px;
   }
}

@media (max-width: 400px)  {
    .contact-modal{
        width: 80%;
        padding: unset;
    }

    .contact-button{
        display: none;
    }
}

@media (max-width: 992px){
    .info-view{
        display: inline-block;
    }
    .grid-photo{
        display: grid;
    }

    .service{
        height: auto;
    }
}

@media (min-width: 991px) {
    
    .apartament_user{
        margin-left: 20%;
    }
    
    .price{
        width: 270px;
    }

    .sq{
        width: 205px;
    }
    
    .form-group.field-apartamentsearch-area_to{
        width: 110px;
    }

    
    .fl{
        width: 170px;
    }

}

@media (min-width: 800px) and (max-width: 1200px) {
    .i-am-centered{
        margin-left: 27%;
        width: 50%;
    }

}


@media (min-width: 1200px) {
    .steps-md{
        margin-left: 15%;
    }
}

@media (min-width: 1200px) {
    .i-am-centered{
        margin-left: 40%;
    }

}